# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
compile_commands.json

# Binary files
*.bin
*.elf
*.dis
*.map
*.uf2

# Pico SDK
pico-sdk/
pico_sdk_import.cmake

# VS Code
.vscode

# Generated
generated
